body
{
  background-color: rgb(102, 4, 111);
  align-items: center;
}

#root
{
  
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;

}